@import "../../main/Color.scss";
nav {
    position: absolute;
    width: 100%;
    top: 30px;
    .contentContainer {
        display: flex;
        justify-content: space-between;
        transition: transfrom 1s, left 0.5s;
        .LogoSide {
            font-family: main_bold;
            letter-spacing: 1px;
            font-size: 28px;
            cursor: pointer;
            color: $White;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            li {
                font-family: main_regular;
                list-style: none;
                color: $NavDesc;
                font-size: 18px;
                letter-spacing: 2px;
                cursor: pointer;
                transition: 0.2s;
                position: relative;
                display: flex;
                justify-content: center;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    height: 2px;
                    border-radius: 2px;
                    background: $White;
                    width: 0%;
                    transition: 0.2s;
                }
                &:hover:before {
                    width: 100%;
                }
                &:hover {
                    color: white;
                }
            }
            .liActive {
                font-family: main_bold;
                color: $White;
            }
        }
        .ButtonSide {
            button {
                font-size: 16px;
            }
        }
    }
}

.navToggle {
    position: fixed;
    background: $Bg3;
    top: 20px;
    right: 20px;
    height: 60px;
    aspect-ratio: 1;
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 65%;
        border-radius: 5px;
        background: $MainColor;
        transition: 0.2s;
        &:nth-child(1) {
            transform: translateY(-11px);
        }
        &:nth-child(3) {
            transform: translateY(11px);
        }
    }
}
.navToggleActive {
    span {
        &:nth-child(1) {
            transform: translateY(0) rotate(45deg);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: translateY(0) rotate(-45deg);
        }
    }
}
