nav {
  position: absolute;
  width: 100%;
  top: 30px;
}
nav .contentContainer {
  display: flex;
  justify-content: space-between;
  transition: transfrom 1s, left 0.5s;
}
nav .contentContainer .LogoSide {
  font-family: main_bold;
  letter-spacing: 1px;
  font-size: 28px;
  cursor: pointer;
  color: #ffffff;
}
nav .contentContainer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
nav .contentContainer ul li {
  font-family: main_regular;
  list-style: none;
  color: #dddddd;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  display: flex;
  justify-content: center;
}
nav .contentContainer ul li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  border-radius: 2px;
  background: #ffffff;
  width: 0%;
  transition: 0.2s;
}
nav .contentContainer ul li:hover:before {
  width: 100%;
}
nav .contentContainer ul li:hover {
  color: white;
}
nav .contentContainer ul .liActive {
  font-family: main_bold;
  color: #ffffff;
}
nav .contentContainer .ButtonSide button {
  font-size: 16px;
}

.navToggle {
  position: fixed;
  background: #0a0a0a;
  top: 20px;
  right: 20px;
  height: 60px;
  aspect-ratio: 1;
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
.navToggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 65%;
  border-radius: 5px;
  background: #3417ff;
  transition: 0.2s;
}
.navToggle span:nth-child(1) {
  transform: translateY(-11px);
}
.navToggle span:nth-child(3) {
  transform: translateY(11px);
}

.navToggleActive span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.navToggleActive span:nth-child(2) {
  opacity: 0;
}
.navToggleActive span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}