nav {
  position: absolute;
  width: 100%;
  top: 30px;
}
nav .contentContainer {
  display: flex;
  justify-content: space-between;
}
nav .contentContainer .LogoSide {
  font-family: main_bold;
  letter-spacing: 1px;
  font-size: 28px;
  cursor: pointer;
  color: #ffffff;
}
nav .contentContainer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
nav .contentContainer ul li {
  font-family: main_regular;
  list-style: none;
  color: #dddddd;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
}
nav .contentContainer ul .liActive {
  font-family: main_bold;
  color: #ffffff;
}
nav .contentContainer .ButtonSide button {
  font-size: 16px;
}