@import "../../main/Color.scss";
nav {
    position: absolute;
    width: 100%;
    top: 30px;
    .contentContainer {
        display: flex;
        justify-content: space-between;
        transition: 1s;
        .LogoSide {
            font-family: main_bold;
            letter-spacing: 1px;
            font-size: 28px;
            cursor: pointer;
            color: $White;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            li {
                font-family: main_regular;
                list-style: none;
                color: $NavDesc;
                font-size: 18px;
                letter-spacing: 2px;
                cursor: pointer;
                transition: 0.2s;
                position: relative;
                display: flex;
                justify-content: center;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    height: 2px;
                    border-radius: 2px;
                    background: $White;
                    width: 0%;
                    transition: 0.2s;
                }
                &:hover:before {
                    width: 100%;
                }
                &:hover {
                    color: white;
                }
            }
            .liActive {
                font-family: main_bold;
                color: $White;
            }
        }
        .ButtonSide {
            button {
                font-size: 16px;
            }
        }
    }
}
