@import "./main/Color.scss";

@font-face {
    font-family: main_bold;
    src: url("./Fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: main_regular;
    src: url("./Fonts/Poppins-Regular.ttf");
}
.anim1 {
    transform: translateY(-100px);
    opacity: 0;
}
.anim2 {
    transform: translateY(200px);
    opacity: 0;
}
.anim3 {
    transform: translateX(-300px);
    opacity: 0;
}
.anim4 {
    transform: translateX(300px);
    opacity: 0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $Bg;
}
::-webkit-scrollbar {
    background-color: $Bg_;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: $MainColor;
}
a {
    color: unset;
    text-decoration: none;
}
.contentContainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1900px) {
    .contentContainer {
        width: 1500px;
    }
}
@media (max-width: 1900px) {
    .contentContainer {
        width: 98%;
    }
}
.g-6 {
    width: 50%;
}
img {
    user-select: none;
    pointer-events: none;
}
