@import "./main/Color.scss";

@font-face {
    font-family: main_bold;
    src: url("./Fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: main_regular;
    src: url("./Fonts/Poppins-Regular.ttf");
}
.anim1 {
    transform: translateY(-100px);
    opacity: 0;
}
.anim2 {
    transform: translateY(200px);
    opacity: 0;
}
.anim3 {
    transform: translateX(-300px);
    opacity: 0;
}
.anim4 {
    transform: translateX(300px);
    opacity: 0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $Bg;
}
::-webkit-scrollbar {
    background-color: $Bg_;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: $MainColor;
}
a {
    color: unset;
    text-decoration: none;
}
.contentContainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1900px) {
    .contentContainer {
        width: 1500px;
    }
}
@media (max-width: 1900px) {
    .contentContainer {
        width: 98%;
    }
}
.g-6 {
    width: 50%;
}
img {
    user-select: none;
    pointer-events: none;
}
@media (max-width: 1065px) {
    .g-6 {
        width: 100%;
    }

    .Starter {
        height: auto;
    }
    .SectionSplitter {
        height: auto;
        flex-direction: column;
        gap: 50px;
        .WelcomeSide {
            padding-bottom: 150px;
            padding-top: 150px;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }
}
@media (max-width: 805px) {
    .FilterSwap {
        justify-content: center;
    }
    .FRow {
        justify-content: center;
    }
}
@media (max-width: 780px) {
    .Footer .contentContainer {
        flex-direction: column;
        gap: 50px;
        .FCol {
            width: 100%;
            max-width: 100%;
            text-align: center;
        }
    }
}
@media (max-width: 680px) {
    .contentContainer {
        padding-right: 10px;
        padding-left: 10px;
    }
    nav .contentContainer {
        position: fixed;
        height: 100%;
        width: 50%;
        left: -100%;
        flex-direction: column;
        background: $Bg3;
        top: 0;
        align-items: center;
        padding: 50px 0;
        z-index: 9;
        min-width: 300px;
        ul {
            flex-direction: column;
        }
    }
    .navToggle {
        display: flex;
    }
    nav .NavGet {
        left: 0;
    }
}
@media (max-width: 455px) {
    .Title {
        font-size: 32px;
    }
    .DiscTitle {
        text-align: center;
    }
    .CommunityBlock {
        padding: 0 8px;
        h1 {
            font-size: 26px;
        }
        .CommunityBlock p {
            font-size: 12px;
        }
    }
    .SectionSplitter .WelcomeSide {
        h1 {
            font-size: 48px;
            line-height: unset;
        }
        p {
            font-size: 16px;
        }
        .StarterButtons {
            flex-direction: column;
            button {
                width: 300px;
            }
        }
    }
}
